@{
    ViewData["Title"] = "Notifications";
}

<h1>@ViewData["Title"]</h1>

<table id="tblNotification" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>From</th>
            <th>Title</th>
            <th>Detail</th>
            <th>IsRead</th>
            <th>Notification Datetime</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>