@model NotificationDotNet6SignalR.Domain.Commands.User.UserRegisterCommand

@{
    ViewBag.Title = "Registro de Usuário";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Register", "User", FormMethod.Post, htmlAttributes: new { id = "frmUserRegister", @class = "row g-3" }))
{
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>
}