@using Microsoft.AspNetCore.Identity
@inject SignInManager<NotificationDotNet6SignalR.Domain.Entities.User> SignInManager
@inject UserManager<NotificationDotNet6SignalR.Domain.Entities.User> UserManager

@{
    var signInManager = SignInManager.IsSignedIn(User);
    var userManager = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - NotificationDotNet6SignalR</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/NotificationDotNet6SignalR.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/notification/ikr.notification.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" asp-append-version="true">
    </head>
    <body>
        <header>
            <partial name="_TopNavigation" model="@userManager" />
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <partial name="_Footer" />
        </footer>

        <partial name="_Scripts" />
        <partial name="_ValidationScriptsPartial" />

        @if (signInManager)
        {
            <script src="~/js/notification-hub.js" asp-append-version="true"></script>
        }

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        const logged = '@Html.Raw(signInManager)'.toLowerCase();
        if (logged == 'true') {
            $('#notifications-container').ikrNotificationSetup();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/Notification/All',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var notifications = data;
                    $("#notifications-container").ikrNotificationCount({
                        NotificationList: notifications,
                        NotiFromPropName: "FromName",
                        ListTitlePropName: "Header",
                        ListBodyPropName: "Content",
                        ControllerName: "Notification",
                        ActionName: "All"
                    });
                },
                error: function (xhr, status, error) {
                }
            })
        }
    });
</script>